body {
    font-family: 'League Spartan', sans-serif; /* Apply the imported font */
    display: flex;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: hsl(180, 52%, 96%);
    min-height: 100vh;
    width: 100%;
}

.left-section {
    flex: 0 0 250px;
    background-color: hsl(180, 29%, 50%);
}

#toggleBtn {
    position: fixed;
    cursor: pointer;
    top: 15px;
    left: 15px;
    padding: 8px;
    z-index: 2;
    font-size: 20px;
    border-radius: 5px;
    background-color: hsl(180, 29%, 50%);
}

.left-section img {
    position: fixed;
    left: 25px;
    width: 200px;
    border-bottom: 2px #6666 solid;
}

.btn {
    font-size: 14px;
    color: #666;
    cursor: pointer;
    border-radius: 8px;
    border: 1px transparent solid;
    background-color: hsl(180, 29%, 50%);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 20px;

    position: fixed;
    left: 20px;
    width: 200px;
    height: 40px;
}

.newBtn {
    position: fixed;
    left: 192px;
    height: 40px;
    cursor: pointer;

    text-decoration: none;
    font-size: 25px;
    border: none;
    border-left: 2px hsl(180, 29%, 50%) solid;
    border-radius: 0 8px 8px 0;
    background-color: hsl(180, 29%, 45%);
    color: white;
}

.peopleBtn {
    top: 200px;
}

.jobBtn {
    top: 250px;
}

.btn:hover {
    background-color: hsl(180, 29%, 40%);
    color: white;
}

.btn.active {
    color: white;
    background-color: hsl(180, 29%, 45%);
}

.btn.active:hover {
    border: 1px hsl(180, 29%, 40%) solid;
}

.right-section {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.job-item {
    border-left: 5px solid transparent;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;

    flex-grow: 1;
    width: 65%;
    max-width: 95%;
    min-width: 50%;
    transition: all 0.3s ease;
    background-color: white;
    box-shadow: 5px 10px 10px hsl(180, 15%, 70%);
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.job-item:hover {
    border-left-color: hsl(180, 29%, 50%);
}

.company-logo {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    overflow: hidden; /* Ensures anything outside the circle is hidden */
    margin-left: 50px;
    margin-right: 25px;
}

.company-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures logo fits inside the circle */
}

.job-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.company-name {
    font-weight: bold;
    font-size: 22px;
    color: hsl(180, 29%, 50%);
}

.position-title {
    font-size: 25px;
    font-weight: bolder;
    color: #555;
}

.additional-info {
    font-size: 15px;
    color: hsl(180, 8%, 52%);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.additional-info > * {
    padding-right: 10px;
}

.more-details {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
}

a {
    text-decoration: none;
    color: hsl(180, 8%, 52%);
}

a:hover {
    color: hsl(180, 29%, 50%);
}

@media (max-width: 1600px) {
    .job-item {
        width: 75%;
    }
}

@media (max-width: 1350px) {
    .job-item {
        width: 90%;
    }
}

@media (max-width: 1200px) {
    #toggleBtn {
        display: block;
    }

    .left-section {
        display: none;
        position: fixed;
        top: 10px;
        left: 10px;
        width: 250px;
        height: 400px;
        background-color: hsl(180, 29%, 50%);
        border-radius: 10px;
        z-index: 1;
    }
}